---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=fa02d0bdf89ae75a3cfd634634208367&query=Princess%20Bride
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1529356736'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"total_results":2,"total_pages":1,"results":[{"vote_count":1849,"id":2493,"video":false,"vote_average":7.7,"title":"The
        Princess Bride","popularity":13.428466,"poster_path":"\/gpxjoE0yvRwIhFEJgNArtKtaN7S.jpg","original_language":"en","original_title":"The
        Princess Bride","genre_ids":[12,10751,14,35,10749],"backdrop_path":"\/oaXyPP3HNW0gBl0ZGXLhJOdACeH.jpg","adult":false,"overview":"In
        this enchantingly cracked fairy tale, the beautiful Princess Buttercup and
        the dashing Westley must overcome staggering odds to find happiness amid six-fingered
        swordsmen, murderous princes, Sicilians and rodents of unusual size. But even
        death can''t stop these true lovebirds from triumphing.","release_date":"1987-09-18"},{"vote_count":2,"id":214652,"video":false,"vote_average":7,"title":"As
        You Wish - The Story of ''The Princess Bride''","popularity":1.105412,"poster_path":"\/1wSZ6zRuIbVWuviMBdjyQIMwYIO.jpg","original_language":"en","original_title":"As
        You Wish - The Story of ''The Princess Bride''","genre_ids":[],"backdrop_path":null,"adult":false,"overview":"An
        excellent \"behinds the scenes\" documentary that was part of the DVD release
        of \"The Princess Bride.\" Original archive footage &amp; new interviews with
        cast members about making one of the greatest children''s movies of all time.","release_date":"2009-01-25"}]}'
  recorded_at: Mon, 18 Jun 2018 21:18:47 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/?api_key=fa02d0bdf89ae75a3cfd634634208367
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1529361276'
    body:
      encoding: UTF-8
      string: '{"status_code":34,"status_message":"The resource you requested could
        not be found."}'
  recorded_at: Mon, 18 Jun 2018 22:34:26 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/2493?api_key=fa02d0bdf89ae75a3cfd634634208367
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"a23bf37e6cd17f567244e4872a8e3079"
      X-Memc:
      - HIT
      X-Memc-Age:
      - '14263'
      X-Memc-Expires:
      - '14537'
      X-Memc-Key:
      - 78254215feae2a87e8ec4e610075f1d2
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1529361276'
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/oaXyPP3HNW0gBl0ZGXLhJOdACeH.jpg","belongs_to_collection":null,"budget":16000000,"genres":[{"id":12,"name":"Adventure"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":35,"name":"Comedy"},{"id":10749,"name":"Romance"}],"homepage":null,"id":2493,"imdb_id":"tt0093779","original_language":"en","original_title":"The
        Princess Bride","overview":"In this enchantingly cracked fairy tale, the beautiful
        Princess Buttercup and the dashing Westley must overcome staggering odds to
        find happiness amid six-fingered swordsmen, murderous princes, Sicilians and
        rodents of unusual size. But even death can''t stop these true lovebirds from
        triumphing.","popularity":12.428466,"poster_path":"/gpxjoE0yvRwIhFEJgNArtKtaN7S.jpg","production_companies":[{"id":1153,"logo_path":null,"name":"Act
        III Communications","origin_country":""},{"id":49243,"logo_path":null,"name":"The
        Princess Bride Ltd.","origin_country":""},{"id":49244,"logo_path":null,"name":"Buttercup
        Films Ltd.","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1987-09-18","revenue":30857814,"runtime":98,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"It''s
        as real as the feelings you feel.","title":"The Princess Bride","video":false,"vote_average":7.7,"vote_count":1852}'
  recorded_at: Mon, 18 Jun 2018 22:34:27 GMT
recorded_with: VCR 4.0.0
